

<div class = "booyah-box col-12 text-center">
  
    <div>
      <h2><%= @story.title %> </h2><br/>
      <i> <%= @story.description %></i><br />
      <p> <%= @story.location %></p> <br />
      <i> <%= @story.event %></i> <br />
    </div>
    <hr />



</div>
